[project]
	description = testrepository
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/vermaashutosh
[access "refs/for/refs/*"]
	read = group user/vermaashutosh
	push = group user/vermaashutosh
	label-Code-Review = -2..+2 group user/vermaashutosh
	label-Verified = -1..+1 group user/vermaashutosh
	rebase = group user/vermaashutosh
	removeReviewer = group user/vermaashutosh
	submit = group user/vermaashutosh
[access "refs/heads/*"]
	read = group user/vermaashutosh
	create = group user/vermaashutosh
	push = +force group user/vermaashutosh
	pushMerge = group user/vermaashutosh
[access "refs/tags/*"]
	push = group user/vermaashutosh
	push = +force group user/vermaashutosh
